* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root {
    --clr-dark: #020617;
    --clr-light: #f1f5f9;
    --clr-slate400: #94a3b8;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
    --clr-rose: #e11d48;
    --clr-indigo: #4f46e5;
    --clr-green: #16a34a;
    --clr-yellow: #ca8a04;



    
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
    --size-11xl: 12rem;
  }



.contact-div-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;    
}

.contact-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    width: 100%;
    max-width: 2000px;
}
.contact-div-text {
    width: 80%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    gap: 1rem;
}


.contact-div-input,
.contact-div-input-light-mode {
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.input-div-name-subject {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}


.contact-div-input input {
    padding: .5rem .9rem;
    border-radius: 5px;
    border: 1px solid var(--clr-rose);
    background: transparent;
}
.contact-div-input-light-mode input {
    padding: .5rem .9rem;
    border-radius: 5px;
    border: 1px solid var(--clr-indigo);
    background: transparent;
}
.contact-div-input-light-mode ::placeholder {
    color: var(--clr-dark);

}
.contact-div-input input::placeholder {
    color: var(--clr-slate400);
}

#message-contact {
    padding-bottom: 50px;
}

#a-contact {
    color: var(--clr-light);
}

#contact-h1 {
    font-size: var(--size-2xl);
}
#contact-p {
    font-size: var(--size-base);
    color: var(--clr-slate600);
    line-height: calc(1em +8px);

}

.btnt {
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-indigo);
    color: var(--clr-light);
    border-style: none;
    padding: 8px 16px;
    border-radius: 7px;
    text-transform: capitalize;
    font-weight: 600;
    box-shadow: 0px 0px 10px var(--clr-indigo);
    transition: transform 0.4s, box-shadow 0.3s;
    transition: 0.3s;
}
#btn {
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-rose);
    color: var(--clr-light);
    border-style: none;
    padding: 8px 16px;
    border-radius: 7px;
    text-transform: capitalize;
    font-weight: 600;
    box-shadow: 0px 0px 10px var(--clr-rose);
    transition: transform 0.4s, box-shadow 0.3s;
    transition: 0.3s;
}

#btnt:hover {
    transform: scale(1.1);
    background-color: var(--clr-indigo);
    box-shadow: 0px 0px 11px var(--clr-indigo);
}

.btnt:hover {
    transform: scale(1.1);
    background-color: var(--clr-rose);
    box-shadow: 0px 0px 11px var(--clr-rose);
}

#btn-contact {
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* image */



.about-image-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 15rem;
    gap: 3rem;
}
.about-image-div img {
    height: 40px;
}
.about-image-div img:nth-child(n+3) { /* de last 2 */
    height: 35px;
}











  /* xs */
@media (min-width: 475px) {
    #contact-h1 {
        font-size: 1.687rem;
    }
    #contact-p,
    #contact-l {
        font-size: var(--size-base);
    }
}
@media (min-width: 640px) {
    .contact-main-div {
        gap: 5rem;
    }
    .input-div-name-subject {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: none;
        gap: .8rem;
    }
    .contact-div-text {
        width: 100%;
        max-width: 600px;
        gap: 1rem;
    }
    
    .contact-div-input,
    .contact-div-input-light-mode {
        width: 100%;
        max-width: 600px;
    }
}


  /* md */
@media (min-width: 768px) {
    #contact-h1 {
        font-size: 1.787rem;
    }
    #contact-p,
    #contact-l {
        font-size: var(--size-base);
    }
    .about-image-div {
        gap: 1.5rem;
    }



}

  
  /* lg */
@media (min-width: 1024px) {
    
    .contact-main-div {
        flex-direction: row;
        justify-content: center;
        gap: 2.5rem;
    }
    .contact-div-text {
        max-width: 420px;
        gap: 1.5rem;
    }
    .contact-div-input,
    .contact-div-input-light-mode {
        max-width: 450px;
        gap: 1.3rem;
    }
    .input-div-name-subject {
        gap: 1rem;
    }
    
    
    .contact-div-input input,
    .contact-div-input-light-mode input {
        padding: .8rem 1.3rem;
        border-radius: 8px;
    }
    
    #message-contact {
        padding-bottom: 60px;
    }

    #contact-h1 {
        font-size: 2.5rem;
    }
    #contact-p,
    #contact-l {
        font-size: 1.02rem;
    }
    
}
  
 /* xl */
 @media (min-width: 1280px) { 
    .contact-main-div {
        justify-content: space-around;
    }
    .contact-div-text {
        max-width: 550px;
    }
    .contact-div-input,
    .contact-div-input-light-mode {
        max-width: 550px;
    }
 }