:root {
  --clr-dark: #020617;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-rose: #e11d48;
  --clr-indigo: #4f46e5;
  --clr-green: #16a34a;
  --clr-yellow: #ca8a04;

  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
  --size-11xl: 12rem;
}


* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}







.App {
  text-align: center;
  font-family: 'General Sans', sans-serif;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  padding-bottom: 10rem;
  height: 100%;
}
.light-app {
  text-align: center;
  font-family: 'General Sans', sans-serif;
  color: var(--clr-slate800);
  background-color: var(--clr-light);
  padding-bottom: 10rem;
  height: 100%;
}
